@import './../Base/Variables.scss';

.side-navbar {
    background-color: $black;
    width: 280px;
    height: 100vh;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    .header {
        line-height: 34px;
        width: 280px;
        background-color: $black;
        color: $white;

        .title {
            padding: 15px;
        }
    }

    .algo-list {
        .algo-section {
            float: left;
            padding: 0 0 15px; 

            .title {
                float: left;
                font-weight: bold;
                width: 265px;
                color: $white;
                padding: 0 0 0 15px;
                line-height: 24px;
                background-color: darken($black, 5%);

                &:hover{
                    background-color: darken($black, 10%);
                }
            }
    
            nav {
                a {
                    margin: 0 10px 0 0;
                    padding: 0 0 0 31px;
                    float: left;
                    width: 249px;
                    line-height: 24px;
                    color: $white;

                    &:hover {
                        background-color: darken($black, 10%);
                    }
                }
            }
        }
        
    }
}