.side-navbar {
  background-color: #e3e7ed;
  float: left;
  width: 400px; }
  .side-navbar .header {
    font-weight: bold;
    line-height: 70px;
    background-color: #5590e8;
    color: white;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                            supported by Chrome and Opera */ }
    .side-navbar .header .title {
      padding: 25px; }
  .side-navbar nav {
    padding: 0px 25px; }
    .side-navbar nav a {
      width: 100%; }
