body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #f4f4f4;
  color: #424242; }

.navbar {
  background-color: #e3e7ed;
  color: #424242;
  border: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
  .navbar span {
    line-height: 70px; }
  .navbar .header {
    font-size: large;
    padding: 25px; }

.side-navbar {
  background-color: #e3e7ed;
  width: 280px;
  height: 100vh; }
  .side-navbar .header {
    font-weight: bold;
    line-height: 50px;
    width: 280px;
    background-color: #5590e8;
    color: #f4f4f4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .side-navbar .header .title {
      padding: 25px; }
  .side-navbar .algo-list {
    line-height: 25px; }
    .side-navbar .algo-list .algo-section {
      float: left;
      padding: 0 0 15px; }
      .side-navbar .algo-list .algo-section .title {
        float: left;
        font-weight: bold;
        width: 255px;
        color: #f4f4f4;
        margin: 0px 0 10px 0;
        padding: 0 0 0 25px;
        line-height: 30px;
        background-color: #3d3d3d; }
      .side-navbar .algo-list .algo-section nav a {
        margin: 0 10px 0 0;
        padding: 0 0 0 25px;
        float: left;
        width: 255px; }
