body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #f4f4f4;
  color: #424242; }

.navbar {
  background-color: #e3e7ed;
  color: #424242;
  border: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
  .navbar span {
    line-height: 70px; }
  .navbar .header {
    font-size: large;
    padding: 25px; }

.side-navbar {
  background-color: #424242;
  width: 280px;
  height: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .side-navbar .header {
    line-height: 34px;
    width: 280px;
    background-color: #424242;
    color: #f4f4f4; }
    .side-navbar .header .title {
      padding: 15px; }
  .side-navbar .algo-list .algo-section {
    float: left;
    padding: 0 0 15px; }
    .side-navbar .algo-list .algo-section .title {
      float: left;
      font-weight: bold;
      width: 265px;
      color: #f4f4f4;
      padding: 0 0 0 15px;
      line-height: 24px;
      background-color: #353535; }
      .side-navbar .algo-list .algo-section .title:hover {
        background-color: #292929; }
    .side-navbar .algo-list .algo-section nav a {
      padding: 0 0 0 31px;
      float: left;
      width: 249px;
      line-height: 24px;
      color: #f4f4f4; }
      .side-navbar .algo-list .algo-section nav a:hover {
        background-color: #292929; }
